# Binaries
build
*.exe

# Compiler
__pycache__

compiler/.antlr/
compiler/taihe/parse/antlr

# Temporary directories
test/*/temp
test/*/output

# files
*.log

# Visual Studio files and folder
.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Visual Studio Code files and folder
.vscode/

# Clangd
.cache