# Binaries
build/
*.exe
out
/dist

# Compiler
__pycache__

compiler/dist/
compiler/.antlr/
compiler/.pyre
compiler/taihe/parse/antlr
.coverage
.coverage.*

# Temporary directories
test/*/author_generated
test/*/user_generated

# files
*.log

# Visual Studio files and folder
.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Visual Studio Code files and folder
.vscode/

# Clangd
.cache
